Package: me.k3a.systemsounddisabler
Name: SystemSoundDisabler
Depends: mobilesubstrate, preferenceloader (>= 2.0.4)
Conflicts: me.k3a.powersounddisabler
Version: 1.2
Architecture: iphoneos-arm
Description: A simple MS tweak disabling sound and vibration for several system sounds.
Maintainer: K3A
Author: K3A
Section: Tweaks
